p{ 
    color: rgb(53, 6, 6);
}
h1{
    color: crimson;
}
a{
    background-color: burlywood;
}


#parrafo3 {  /* Modificador de selectores con id                                             */
    color: chocolate;
}

.parrafonegro { /*modificador de selector por class */
    color: black;
}
.parrafoazul {
    color: blue;
}
.parrafonaranja {
    color: orangered;
}
.textorojo {
    color: crimson;
}
.textoazul {
    color: mediumblue;
}
.fondorosa {
    background-color: lightpink;
} 
.textoGrandeNegrita {
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; /* esta propiedad permite cambiar el tipo de fuente*/
}

.imagenreducida{    /* Modificador de tamano por clase */
    height: 200px;
}

.imagenreducidaicono{
    height: 75px;
}

.contenedorconmargen{
    margin: 20px ;   /* Crea un margen alrededor del componente*/
    border: 1px solid red;  /* crea el borde al elemento*/
    padding: 10px;  /* separa el contenido del elemnto en la parte interna al borde*/
}

.contenedordivs1{     /* Contenedor con carecteristicas de unidades absolutas */
    border: 4px solid green;
    display: grid;  /* Tipo de Display que voy a autilizar */
    grid-template-rows: 50px 50px 50px;    /* estas son el numero de filas de la grilla en este caso son 3*/
    grid-template-columns: 150px 150px 150px 150px;  /*  Estos son el numero de columnas en la grilla en este caso son 4 */
}

.divtest{
    border: 1px solid red;
}

.contenedordivs2{     /* Contenedor con carecteristicas de unidades relativas  */
    border: 4px solid green;
    display: grid;  /* Tipo de Display que voy a autilizar */
    grid-column: auto;
    grid-template-rows: 50px 50px 50px;    /* estas son el numero de filas de la grilla en este caso son 3*/
    grid-template-columns: 25% 25% 25% 25%;  /*  Estos son el numero de columnas en la grilla en este caso son 4 */
}

.contenedordivsflex{     /* Contenedor con carecteristicas de unidades relativas  */
    border: 4px solid green;
    display: flex;  /* Tipo de Display que voy a autilizar */
    height: 300px;
    justify-content: center; /* Desplaza los elementos al centro en horizontal */
    align-items: center; /* Desplaza los elementos al centro en vertical */
}